body {
	background-color: #34a4eb;
}

header {
	background-color: #4ecef5;
	background-image: url("sub for now.png");
	background-position: right 5px top 5px;
	background-repeat: no-repeat;
	height: 189px; /*Background picture is 189 */
	padding: 5px;
	padding-left: 20px;}


footer {
	background-color: #41fade;
	font-family: Arial, Verdana;
	text-align: center;
	font-size: 90%;
	padding: 5px
}
ul {
	list-style-position: inside;
}

#content {
	background-color: #3f81fc;
	padding: 15px;
	min-height: 300px;
}

header, footer, #content {
	border-style: solid;
	border-width: 1px;
	border-color: blue;
}


#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	box-shadow: 5px 5px 5px black;
}

h1 {
	color: #ffffff;
	font-size: 350%;
	font-family: Arial,Cambria;
}

h2 {
	color: white;
	font-family: Verdana, Arial
}
.floatImg {
	float: left;
	margin: 0px 10px;
}